.Rproj.user
.Rhistory
.RData
.Ruserdata
DataOut/*
!/DataOut/MASlope_ATRStopLoss/
DataOut/MASlope_ATRStopLoss/*
!/DataOut/MASlope_ATRStopLoss/Images/
DataOut/MASlope_ATRStopLoss/Images/*
!/DataOut/MASlope_ATRStopLoss/Images/candlesYieldLm.html
.~lock*
Scripts/keys.R
config.yml
Credentials
AWS